{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap core CSS & Custom template styles -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/baseAccStyle.css' %}" >
    {% endcompress %}
</head>
<body class="text-center">
    <div>
        <img class="mb-4" src="{% static 'img/accounts/email.png' %}" alt="logo" width="105" height="105">
        <h1 class="h3 mb-3 font-weight-normal">Check your index</h1>
        <p class="size">We have sent you the instructions for setting the password, You should receive the email soon.</p>
    </div>
</body>
</html>