{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" >
</head>
<body class="text-center">
    <div>
        <img class="mb-4" src="{% static 'img/accounts/success_change_password.png' %}" alt="logo" width="120" height="120">
        <h1 class="h3 mb-3 font-weight-normal">Password reset complete</h1>
        <p class="size">Your new password has been set,<br>You can <a href="{% url 'accounts:login' %}">login</a> now.</p>
    </div>
</body>
</html>