{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" >
  </head>
  <body class="text-center">
    {% if validlink %}
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/accounts/set_new_password.png' %}" alt="logo" width="105" height="105">
      <h1 class="h3 mb-3 font-weight-normal">Set new password</h1>
      <label for="inputPassword" class="sr-only">New Password</label>
      <input type="password" name="new_password1" class="form-control" placeholder="New Password" required>
      <h6>Your password can’t be too similar to your other personal information.</h6>
      <h6>Your password must contain at least 8 characters.</h6>
      <h6>Your password can’t be a commonly used password.</h6>
      <h6>Your password can’t be entirely numeric.</h6>
      <label for="inputPassword" class="sr-only">Confirm New Password</label>
      <input type="password" name="new_password2" class="form-control" placeholder="Confirm New Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
    {% else %}
      <div>
        <img src="{% static 'img/accounts/not_valid.png' %}" alt="logo" width="110" height="110">
        <p class="not-valid-message size">The password reset link was invalid, maybe it has already been used.<br> please request a new password reset link.</p>
      </div>
    {% endif %}
  </body>
</html>