{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block container %}
<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">{{post.title}}</h1>
				<p class="text-white link-nav"><a href="{% url 'website:home' %}">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="{% url 'blog:blog' %}">Blog </a> <span
						class="lnr lnr-arrow-right"></span>{{post.title}}</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="post-img" src="{{post.image.url}}" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3 meta-details">
						<ul class="tags">
							{% for item in post.category.all %}
							    <li><a href="{% url 'blog:category' cat_name=item.name %}">{{item.name}}</a></li>
								{% if not forloop.last %},{% endif %}
							{% endfor %}
						</ul>
						<div class="user-details row">
							<p class="user-name col-lg-12 col-md-12 col-6"><a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a> <span
									class="lnr lnr-user"></span></p>
							<p class="date col-lg-12 col-md-12 col-6"><a>{{post.published_date|date:"d M Y"}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a>{{post.counted_views}} Views</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span
									class="lnr lnr-bubble"></span></p>
							<ul class="social-links col-lg-12 col-md-12 col-6">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<h3 class="mt-20 mb-20">{{post.title}}</h3>
						<p class="excert">{{post.content|safe}}</p>
					</div>
				</div>
				<div class="navigation-area">
					<!--Point: Click on the post title to go to that page.-->
					<div class="row">
						{% if pre_post != None %}
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="detials">
								<a href="{% url 'blog:posts' PostID=pre_post.id %}">
								    <p>Prev Post</p>
							    </a>
								<a href="{% url 'blog:posts' PostID=pre_post.id %}">
									<h4>{{pre_post.title}}</h4>
								</a>
							</div>
						</div>
						{% endif %}
						{% if next_post != None %}
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								<a href="{% url 'blog:posts' PostID=next_post.id %}">
								    <p>Next Post</p>
								</a>
								<a href="{% url 'blog:posts' PostID=next_post.id %}">
									<h4>{{next_post.title}}</h4>
								</a>
							</div>
						</div>
						{% endif %}
					</div>
					<div class="comment-area">
						<div id="disqus_thread"></div>
						<script>
							(function() {
							var d = document, s = d.createElement('script');
							s.src = 'https://127-0-0-1-8000-0zmm9zf91v.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					{% include 'blog/blog-search.html' %}
					{% include 'blog/blog-writer.html' %}
					{% popularPosts %}
					{% lastestPosts %}
					{% include 'blog/blog-ads.html' %}
					{% include 'blog/blog-newsletter.html' %}
					{% include 'blog/blog-tags.html' %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->
{% endblock %}